  
name: Build & Deploy
on:
  push:
    branches: [rajeshsubbranch]
    paths-ignore:
      - 'test.txt'

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy
        uses: actions/checkout@v2
      - name: Deployphp
        uses: musps/action-deployer-php@master
        with:
          args: deploy prod
        env:
          SSH_PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }

   